<div id="home" ng-controller="homeController as home">
	<div class="column is-offset-one-quarter is-half">
		<div class="card">
			<div class="card-content" ng-if="home.currentPeople != null">
				<div class="media">
					<div class="media-left">
						<figure class="image is-96x96">
							<img id="avatar" src="https://api.adorable.io/avatars/{{home.currentPeople.name}}" alt="Avatar">
						</figure>
					</div>
					<div class="media-content">
						<p class="title is-4">{{home.currentPeople.name}}</p>
						<p class="subtitle is-6">{{home.currentPeople.region}}</p>
					</div>
				</div>

				<div class="content has-text-centered">
					<a class="button is-danger">Female</a>
					<a class="button is-primary">Male</a>
				</div>
			</div>
			<div class="card-content" ng-if="home.currentPeople == null">
				Loading...
			</div>
		</div>
	</div>
</div>
